# Archivos Python compilados
*.pyc
__pycache__/

# Directorios de entornos virtuales
venv/
.env/

# Archivos de configuración del IDE
.vscode/
.idea/

# Archivos de datos grandes
*.csv
*.log

# Archivos de salida
/output/
